/* RESET */
img{
	vertical-align: text-bottom;
}

body{
	color:black;font-family:'Montserrat',sans-serif;}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto }

h1,h2,h3,h4,h5,h6{
	font-family:'Raleway',sans-serif;}
a.button{
	font-family:'Montserrat',sans-serif;}
/* STORE BUTTONS */

/* ICONS IN BUTTONS */
.button-icon{
	font-size: 140%;
	vertical-align: text-bottom;
}
.ico-left{
	margin-right:7px;
}
.ico-right{
	margin-left: 7px;
}
/*
h1{font-size:3.5em;}h2{font-size:3em;}h3{font-size: 2.5em;}
h4{font-size:2em;}h5{font-size: 1.5em;}h6{font-size:1em;}
*/
.section-h{
	margin-top:0;
}
a,a:hover,a:visited,a:active{
	text-decoration: none;
	color:black;}
.above-overlay{
	position: relative;
	z-index: 2;
}

/* HEADER */
.header{position:relative;}
.top-row-container{
	}
/* PAGE NAV */
.header .menu{
	list-style-type: none;
	float: right;
	font-family:'Montserrat',sans-serif;}
.header .menu li{
	float:left;
	/*margin-left:12px;*/ /*TODO: this option should also be configable*/
}
.logo{
}



.header .menu li a{
}
.header .menu li a:hover{
	<?php/*
	if(getFieldValue($fields,'Menusettings_Useamenu')=='Yes'){
		$isPlainLinks = getFieldValue($fields,'Menusettings_Linktype')==='Plain links';
		$fieldkey = $isPlainLinks ? 'Menusettings_Plainlinkstyles':'Menusettings_Buttonstyles';
		echo fillinCssOfDesigner($fields,'color',$fieldkey,'hovercolorvalue');

		if($isPlainLinks){
			$hoverstyle = getFieldValueInDesigner($fields,$fieldkey,'hoverstylevalue');
			if($hoverstyle != 'None'){
				$thickness = getFieldValueInDesigner($fields,$fieldkey,'hoverunderlinevalue');
				$underlinecolor = getFieldValueInDesigner($fields,$fieldkey,'hoverunderlinecolorvalue');
				echo 'border-bottom: '.$thickness.' '.$hoverstyle.' '.$underlinecolor.';';
			}
		}
		else{
			echo fillinCssOfDesigner($fields,'background-color',$fieldkey,'hoverbackgroundcolorvalue');
			$bordercolor = getFieldValueInDesigner($fields,$fieldkey,'hoverbordercolorvalue');
			echo 'border:1px solid '.($bordercolor ==='' ? 'transparent':$bordercolor).';';
		}
	}*/
	?>
}
/* HEADER Image*/

/* ADVANCED - ANIMATIONS */
a,button,.button,.anim,.anim-c div,.social-ico i{-webkit-transition: all 0.125s ease-in-out;-moz-transition: all 0.125s ease-in-out;-o-transition: all 0.125s ease-in-out;transition: all 0.125s ease-in-out;}
/* ADVANCES - TEXT SELECTION */


/* HELPERS */
.anim-o,.anim-o-c div{
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.anim-o:hover,.anim-o-c div:hover{
	-moz-opacity: 1;
	-khtml-opacity: 1;
	opacity: 1;
}
.e-corner-b,.e-corner-b{
	-webkit-border-radius: 0 0 5px 5px; 
	-moz-border-radius: 0 0 5px 5px; 
	border-radius: 0 0 5px 5px; 
}
.e-corner-t,.e-corner-t:hover{
	-webkit-border-radius: 5px 5px 0 0; 
	-moz-border-radius:5px 5px 0 0;
	border-radius:5px 5px 0 0;
}
.e-corner,.e-corner:hover{
	-webkit-border-radius: 5px; 
	-moz-border-radius:5px;
	border-radius:5px;
}
.f-smaller{font-size: 85%;}
.f-smallest{font-size: 55%; }
/*.table-display{display: table;width: 100%;}
.cell-display{display: table-cell;vertical-align: middle;}
*/
.t-center{
	text-align: center;
}
.t-left{
	text-align: left;
}
.t-right{
	text-align: right;
}
.t-full{
	text-align: justify;
}
.margin-l-small{
	margin-left:10px;
}
div.visible,span.visible,p.visible{display: block;}
div.invisible,span.visible,p.visible{display: none;}
.i-p-right{
	padding-left:10px;
}
.i-p-left{
	padding-right:10px;
}
.i-s-smallest{
	font-size:1em;
}
.i-s-smaller{
	font-size:1.5em;
}
.i-s-small{
	font-size:2em;
}
.i-s-medium{
	font-size:2.5em;
}
.i-s-big{
	font-size:3em;
}
.i-s-bigger{
	font-size:4em;
}
.i-s-giant{
	font-size:5em;
}
.i-s-biggest{
	font-size:6em;
}

/* x 2 */
.i-s-smallest-2{
	font-size:2em;
}
.i-s-smaller-2{
	font-size:3em;
}
.i-s-small-2{
	font-size:4em;
}
.i-s-medium-2{
	font-size:5em;
}
.i-s-big-2{
	font-size:6em;
}
.i-s-bigger-2{
	font-size:8em;
}
.i-s-giant-2{
	font-size:10em;
}
.i-s-biggest-2{
	font-size:12em;
}
/* SECTIONS */
.section{
	position: relative;
}

a.button-style1,.button-parent-1 a{font-size:0.750em;letter-spacing:1px;text-transform:uppercase;font-weight:700;color:#ffffff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#ff4a23;border:1px solid #ff4a23;padding:15px 18px;}a.button-style1:hover,.button-parent-1 a:hover{color:#4F3F8A;background-color:#ffffff;border:1px solid #ffffff;}a.button-style2,.button-parent-2 a{font-size:0.875em;letter-spacing:1px;text-transform:uppercase;font-weight:700;color:#ffffff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#ff4a23;border:1px solid #ff4a23;padding:15px 18px;}a.button-style2:hover,.button-parent-2 a:hover{color:#4F3F8A;background-color:#ffffff;border:1px solid #ffffff;}a.button-style3,.button-parent-3 a{font-size:0.750em;letter-spacing:1px;text-transform:uppercase;font-weight:700;color:#ffffff;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;background-color:#ff4a23;border:1px solid #ff4a23;padding:15px 18px;}a.button-style3:hover,.button-parent-3 a:hover{color:#4F3F8A;background-color:#ffffff;border:1px solid #ffffff;}.bg-style0{background-color:#F9F9F9;}.bg-style1{background-color:#11344C;background-image:url('../img/bg.png');background-repeat:repeat; background-size:100%;}.bg-style4{background-color:#11344C;background-image:url('../img/2.png');background-repeat:no-repeat;background-position:center center;}.bg-style2{background-color:lightgray;background:url('../img/2.jpg') no-repeat center center;webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}.bg-style2:before{content:' ';position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(79,63,139,0.7);}.h-style1{color:#ffffff;font-weight:700;text-align:center;letter-spacing:1px;}.h-style2{color:#ffffff;font-weight:300;text-align:center;letter-spacing:1px;}.h-style3{color:#333333;font-weight:300;text-align:center;letter-spacing:1px;}.t-style1{color:#333333;line-height:1.8;text-align:left;font-size:1em;}
/* Examples */
.content-wrapper{
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	width:95%;
	max-width: 885px;
}
.content-block{
	width:95%;
	margin-left:20px;
	float:left;
}
.content-wrapper.e2{
	max-width: 620px;
}

.content-block.e2{
	max-width:300px;
}
.content-wrapper.e3{
	max-width: 885px;
}
.content-block.e3{
	max-width: 275px;
}
.content-wrapper.e4{
	max-width: 1120px;
}
.content-block.e4{
	max-width: 260px;
}
.content-block img{
	width:100%;
	vertical-align: bottom;
}
.content-block:first-child{
	margin-left:0;
}
.example-content{overflow: auto;}
.example-content [class^='t-style']{
	margin:0;
	padding:0 25px 25px 25px;
}
/*
.grid-item a{
	display: block;
}
.grid-overlay{
	width:100%;
	height:100%;
	position: absolute;
	top:0;left:0;
	background-color: rgba(0,0,0,0.7);
	opacity: 0 !important;
}
.grid-item:hover img{
-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.grid-item:hover .grid-overlay{
	height:100%;
}
.grid-overlay .info{
	display: table;
	width: 100%;
  	height: 100%;
}
.info .text{
	opacity: 1;
	width: 100%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
*/
.js-masonry{
	margin: 0 auto;
}
.grid-item{
	margin-bottom: 15px;
	overflow: hidden;
}
.view {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.view .mask {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.view img {
    display: block;
    position: relative;
}
.view .txt {
    position: relative;
}

.view-first .mask {
    opacity: 0;
}

.view-first .txt{ 
    opacity: 0;
}

.view-first:hover img { 
	transform: scale(1.1);
} 
.view-first:hover .mask { 
	opacity: 1;
}
.view-first:hover .txt{
    opacity: 1;
}

/*vertically align grid for 1-2 cols*/

@media (min-width: 550px) {
	.valign-col-parent{
	width: 100% !important;
	display: table;
	}
	.valign-col{
		width: 50%;
		vertical-align:middle;
		display: table-cell;
	}
	.valign-col > div{
		width: 100% !important;
	}
}

@media(max-width: 550px){
	.t-left,.t-right,.section .row .columns p,.section h1,.section h2,.section h3,.section h4,.section h5,.section h6{text-align: center !important;}
}
/* footer */
.footer p,.footer p a{}.social-ico{font-size:1.1em;}.social-ico i:first-child{color:;}.social-ico i:last-child{color:;}
.calc-p-bottom{
	padding-bottom: 30px;}

/* ACCORDION */

.accordion-body{
	display: none;
	border: 1px solid transparent; /* Fix jQuery jumpy slide animation */
}
.accordion-head:hover{cursor: pointer;}

.acc-icons .accordion-head{
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}
.acc-icons .accordion-head:before{
	font-family: FontAwesome;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 55%;
	left:-1.3em;
	content:'\f068';
}

.acc-icons .accordion-head.collapsed:before{
	content:'\f067';
}
/* AS SEEN ON */

.a-logo{
	display: inline;
	padding:15px;
	margin-bottom: 0;
}

.a-logo svg{
	max-width: 125px;
	max-height:125px;
	vertical-align: middle;
	margin:0;padding:0;
	display:inline-block;
}
.members .id{text-align:center;}
.members .id{
	font-size:75%;
	color:darkgrey;
}
.members img{
	padding:15px;
	max-width:12Opx;
	max-height:120px;
	border-radius:50%;
}
.members a:hover{color:#544890;}

::selection{background-color:#333;color:white;}
-moz-selection{background-color:#333;color:white;}

.footer p{margin:5px;padding:0;}
.footer a{color:white;}
@media(max-width: 550px){
    .members .id img{max-width:150px;max-height:150px;}
}
@media(max-width: 1000px){
    .members .id img{max-width:90px;max-height:90px;}
}

@media(max-width: 550px){
    .big-title{font-size:1.0em;text-transform:uppercase;}
    
}